html {
    font-family: 'Raleway', sans-serif;
    scrollbar-width: none;

}

.container {
    width: 50%;
}

* { 
    margin: 0;
    padding: 0;
    color:  rgba(255, 255, 255, 0.907);
    
}

a {
    text-decoration: none;
    color: black;
}


body{
    display: flex;
    flex-direction: column  ;
    padding-top: 100px;
    margin: 0;
    background: linear-gradient(180deg, #1a2e45, #003366);
}


header {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
        /* Otros estilos para el encabezado */
    position: fixed;
    display: flex;
    justify-content: space-between;
    min-height: 8vh;
    background-color: #FFCC00;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 10%;
}

.logo img {
    width: 50px;
    height: 50px;
    margin: 10px;
    border: solid #D9B382 1px;
}

.right {
    margin-right: 10vh;
    justify-content: end;
    align-items: center;
    
}

nav a {
    padding: 14px 13px;
    font-weight: 600;

}

nav a:hover {
    color: #ff0000b1;
    transition: ease 0.3s;
}





.hero-wrap {
    min-height: 15vh;
    padding-top: 15vh;
}

#titulo {
    color: rgba(255, 255, 255,0.8);
    text-shadow:4px 4px 6px rgba(0, 0, 0, 0.7);

}

#titulo span {
    color:  rgba(255,0,10,0.76);
}

.descripcion {
    color: #ffffffd7;
}

.hero h1 {
    font-size: 3rem;
}

.hero {           
    justify-content: center;

    width: 100%;
    padding: 80px 0 ;
    display: flex;
    align-items: center;
}

.hero-info {
    padding: 0 3rem ;
    margin-right: 6rem;
    max-width: 500px;
}

a img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid #D9B382 0.1vh;

}

.hero-img img {
    display: flex;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    box-shadow: 0 0 100px rgb(199, 148, 148);
    animation: glowing 2s alternate-reverse infinite;
    margin-left: 6rem;
}

.links {
    margin-top: 0.9rem;
    text-align: left;
    display: flex;
    align-items: center;
}

.boton-cv {
    border: solid #0a4e93d4;
    color: rgb(255, 255, 255);
    font-size: 2vh;
    font-family: 'Raleway';
    background-color: #efefef2c; 
    margin: 15px;
    border-radius: 10px;
}


#tech-title {
    padding-top: 15vh;
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 15vh;
}

.container-tech {
    background-color: #ffcc00f0;
    height: 150px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    min-width: none;
}

#tech{
    text-align: center;

    margin-left: 15vh;
    margin-right: 15vh;
    align-items: center;
    justify-content: center;
    max-width: 1980px;
}



.img-tech img {
    margin-left: 15px;
    height: 92px;
    max-width: 700px;
}

#proyects {
    min-height: 15vh;
    padding-top: 15vh;
    width: 100%;

}

.center {
    text-align: center;

}

.title-pro {
    font-size: 50px;
    padding-bottom: 20px;
    text-align: center;
}

.container-pro {
    background-color: #0000005b;
    display: inline-flex;
    flex-direction: column;
}



.container-pro2 {
    background-color: #0000005b;
    display: inline-flex;
    flex-direction: column;
}

.pro1 {
    box-sizing: content-box;
    padding: 65px;
    background-color: #00336681;
    width: 45vh;
    margin: 2vh;
}

 .pro2 {
    box-sizing: content-box;
    padding: 65px;
    background-color: #00336681;
    width: 45vh;
    margin: 2vh;
 }

 .desc-pro {
    padding-bottom: 3vh;
 }

.boton-pro {
    border: solid;
    color: white;
    font-size: 2vh;
    font-family: 'Raleway';
    background-color: #efefef2c; 
    padding: 5px;
    border-radius: 10px;
}






.datos {
    text-align: center;
    padding-top: 5vh;
}

#form {
    min-height: 90vh;
    padding-top: 15vh;
    margin-bottom: 5vh;
    width: 100%;

}



.usuario-datos {
    text-align: center;
    margin: 2vh ;
    height: 20%;
}

#container-data {

    border: solid 10px rgba(0, 0, 0, 0.257);
    font-size: 3vh;
    text-align: center;
    height: 60vh;
    width: 85%;
    border-radius: 20px;
}

.boton-info {
    background: transparent;
    border: solid 1px #76767665;
    width: 13%;
    padding: 6px;
    background: none;
    margin-top: 12px;
    border-radius: 7px;

}

.contact-info {
    font-size: 2.4vh;
    align-items: center;
    width: 100%;
    height: 50%;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;   
}


.container-info {
    background: transparent;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 2px solid #7676767c;
    margin: 10px;
    margin-bottom: 15px;
    padding: 12px;
    width: 50%;
}

.form-data {
    justify-content: center;
    display: flex;
    
}


footer {
    background-color: rgba(0, 0, 0, 0.439);
    height: 18vh;
}

.info-footer {
    display: inline-block;
}



@media (max-width:850px) {
    .logo {
        margin: 0;
        padding: 0;
    }


    .hero-info {
        min-width: 10rem;

    }

    .right {
        margin: 0;
        padding: 0;
    }
    header {

        flex-direction: column;
        

    }
    nav, a{
        padding: 10px 0px;
        
    }

}