html {
    font-family: 'Inter', sans-serif;
    scrollbar-width: none;
}

h1,h2,h3,h4 {
    font-family: 'Spline Sans',sans-serif;
}

* { 
    margin: 0;
    padding: 0;
    color:  rgba(255, 255, 255, 0.907);
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
}

a {
    text-decoration: none;
    color: black;
}

p { 
    font-size: 20px;
}

body{
    display: flex;
    flex-direction: column  ;
    margin: 0;
    background-color: #092665;

}

header {
    
    background-color: #e5d13c ;
    position: fixed;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.nav-menu a {
    font-family: 'Spline Sans', sans-serif; /* Asegura que los enlaces usen esta fuente */
    color: rgba(255, 255, 255, 0.907);
    text-decoration: none;
}

nav {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo {
    justify-content: center;
    text-align: center;
    align-items: center;
}


.logou {
    display: flex;
    align-items: center;
}

.logo  {
    width: 70px;
    margin-left: 20px ;
    margin-right: 20px;
}

.logou, h4:hover {
    cursor: pointer;
    color: #105edd;
    transition: .3s;
}

.bar-btn {
    font-size: 25px;
    color: white;
    margin-right: 20px;
    cursor: pointer;
}

.nav-menu {
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background-color: #105edd;
    text-align: center;
    transition: all .5s;

}

.nav-menu li {
    display: none;
    line-height: 30px;
    margin: 50px 0;
    transition: all .5s;
}

.nav-menu li a {
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}


.nav-menu li a:hover {
    color: #105edd;
    transition: .3s;
}

#check {
    display: none;
}
#check:checked ~ .nav-menu {
    height: 100vh;
}

#check:checked ~ .nav-menu li {
    display: block;

}


.banner-text {
    padding: 0 30px;
    margin-top: 150px;
    text-align: center;
    color: white;

}

.banner-text h1 {
    font-size: 50px;
    margin-bottom: 30px;
}

.banner-text span {
    color: rgb(14, 212, 212);
}

.banner-text h2 {
    font-size: 16px;
    font-weight: 600;
}

.hero-wrap {
    padding-top: 20vh;
    height: 100vh;  
    justify-content: center;
}

#titulo {
    color: rgba(255, 255, 255,0.8);
    text-shadow:4px 4px 6px rgba(0, 0, 0, 0.7);
}

#titulo span {
    color:  #e5d13c;
}

.descripcion {
    color: #ffffffd7;
}

.hero h1 {
    font-size: 3rem;
}

.hero {           
    justify-content: center;
    padding: 80px 0 ;
    display: flex;
    align-items: center;
    margin-left: 5vh;
    margin-right: 5vh;
}

.hero-info {
    margin-right: 10rem;
    max-width: 500px;
}

a img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid #e5d13c 0.1vh;

}

.hero-img img {
    width: 100vh;
    display: flex;
    max-width: 450px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 20px #e5d13c;
    animation: glowing 2s alternate-reverse infinite;
    margin-left: 6rem;
}

.links {
    margin-top: 0.9rem;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 210px;
    height: 55px;
}

.boton-apps {
    transition:0.6s ease;
    justify-content: space-around;
    border: 2px solid #e5d13c;

}

.boton-apps:hover {
   transform: scale(1.2);
   border: 2px solid #d6d6d5;
}

/* .boton-cv {
    border: 2px solid ;
    border-radius: 7px;
    border-color: #e5d13c;
    color: rgba(255, 255, 255, 0.713);
    font-size: 15px;
    background-color: #efefef2c; 
    padding: 5px;
    transition: 0.5s ease;


}
.boton-cv:hover {
    border-radius: 0px;
    border-color: #d6d6d5;
    border: none ;
    border-bottom: 2px solid ;
    background-color: #efefef00; 
    color: rgb(255, 255, 255);
    transform: scalex(0.5);
    transform-origin: bottom left;
} */


#id-cv {
    transition: 0.5s ease;
}


#id-cv:hover {
    color: #e5d13c;
    transform: scale(1.1);
    padding-top: 5px;
}



.boton-cv {
    transition: 0.5s ease;
    font-size: 1.3rem;
    text-align: center;
    height: 0px;
    overflow: hidden;
    border: none;
    color: #fff;
    background: none;
    padding-bottom: 2rem;
}

.boton-cv:before {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: scaleX(0);
  transform-origin: bottom;
  background: currentColor;
  transition: transform 0.23s ease-out;

}

.boton-cv:hover:before {
  transform: scaleX(1);
  transform-origin: bottom;
  color: #e5d13c;
}






#tech-title {
    font-size: 3.2rem;
    margin-bottom: 30px;
    text-align: center;
}

.container-tech {
    background-color: #e5d13c;
    height: 140px;
    border-radius: 20px;
    display: flex;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    width: max-content;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#tech{
    padding-top: 15vh;
    /* ESTO VARIA EL TAMANO DEL BG TOTAL DEL CONTAINER */
    margin-left: 15vh;    
    margin-right: 15vh;

    place-items: center;
}



.img-tech img {
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 20px;
    height: 85px;

}

#portfolio {
    padding-top: 15vh;
    width: 100%;

}

.center {
    text-align: center;

}

.title-pro {
    font-size: 50px;
    padding-bottom: 20px;
    text-align: center;
}

.container-pro {
    background-color: #0000005b;
    display: inline-flex;
    flex-direction: column;
}



.container-pro2 {
    background-color: #0000005b;
    display: inline-flex;
    flex-direction: column;
}

.pro1 {
    box-sizing: content-box;
    padding: 65px;
    background-color: #00336681;
    width: 45vh;
    margin: 2vh;
}

 .pro2 {
    box-sizing: content-box;
    padding: 65px;
    background-color: #00336681;
    width: 45vh;
    margin: 2vh;
 }

.pro2 h3, .pro1 h3 {
    font-size: 1.7rem;
}

 .desc-pro {
    font-size: 1.2rem;
    margin-top: 0.6rem ;
    margin-bottom: 3vh;
 }

.boton-pro {
    border: solid;
    color: rgb(255, 255, 255);
    font-size: 2vh;
    background-color: #efefef2c; 
    padding: 5px;
    border-radius: 10px;
}






.datos {
    text-align: center;
    padding-top: 5vh;
}

#form {
    min-height: 90vh;
    padding-top: 15vh;
    margin-bottom: 5vh;
    width: 100%;

}



.usuario-datos {
    text-align: center;
    margin: 2vh ;
    height: 20%;
}

#container-data {
/*     background-color: rgba(112, 92, 92, 0.196);
    border: solid 10px rgba(0, 0, 0, 0.627); */
    font-size: 3vh;
    text-align: center;
    height: 60vh;
    width: 85%;
    border-radius: 20px;
    border: solid 10px #0000005b;
    background-color: #042e5881;
}

.boton-info {
    background: transparent;
    border: solid 1px #76767665;
    width: 13%;
    padding: 6px;
    background: none;
    margin-top: 12px;
    border-radius: 7px;
    
}

.contact-info {
    font-size: 2.4vh;
    align-items: center;
    width: 100%;
    height: 50%;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;   
    
}


.container-info {
    background: transparent;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 2px solid #7676767c;
    margin: 10px;
    margin-bottom: 15px;
    padding: 12px;
    width: 50%;
}

.form-data {
    justify-content: center;
    display: flex;
    
}


footer {
    position: relative;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.452);
    min-height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.footer-lufflo {
    position: relative;
    display: inline-block;
    color: #e5d13c;
    animation: 0.8s ease;
}

footer p a {
    flex-direction: column;
}

.footer-lufflo:hover {
        transform: translateY(-2px);
}

.social-icons {
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
    margin: 10px 5px;
    flex-wrap: wrap;
}


.icon-elem {
    list-style: none;
}

.icon {
    color: white;
    font-size: 32px;
    display: inline-block;
    margin: 0 10px;
    transition: 0.6s;
}

.icon:hover {
    transform: translateY(-6px);
}

.footer-menu {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 7px 0;
    flex-wrap: wrap;
}

.menu-elem {
    list-style: none;
}

.menu-icon {
    margin: 0px 10px;
    color: white;
    font-size: 18px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.60;
    transition: 0.3s;
}

.menu-icon:hover {
    opacity: 1;
}

.text {
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 15px;
    
}



@media screen and (min-width: 768px) {
    .logo{
        margin-left: 30px;
    }

    .logo, h4 {
        align-items: center;
        justify-content: center;
        text-align: center;
    }



    .bar-btn {
        display: none;
    }
    .nav-menu {
        position: relative;
        height: 100px;
        top: 0;
        background:none;
        text-align: right;
        margin-right: 50px;
    }

    .nav-menu {
        background-color: #e5d13c;
    }

    .nav-menu li {
        line-height: 100px;
        margin: 0 20px;
        transition: none;
        align-items: center;
        display: inline-block;
    }
    .nav-menu li a {
        font-size: 14px;
    }
    .banner-text h1 {
        font-size: 70px;
        margin-bottom:30px ;
    }
    .banner-text h2 {
        font-size: 20px;
    }

}   








@media (max-width:850px) {


    .hero {
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .hero-wrap {
        margin-bottom: 10vh;
        justify-content: center;    
    }

    .hero-img img {
        margin: 50px 0px;
        padding: 0;
    }

    .hero-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
        margin: 0;
    }

    .nav-menu {
        background-color: #e5d13c;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    nav {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
        text-align: center;
    }

    .titulo {
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .links {
        justify-content: space-between;

    }


}