html {
    font-family: 'Raleway', sans-serif;
}

.container {
    width: 50%;
}

* { 
    margin: 0;
    padding: 0;
    color:  rgba(255, 255, 255, 0.907);
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}


body{
    margin: 0;
       background: linear-gradient(180deg, #1a2e45, #003366)
}


header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    height: 8vh;
    background-color: #FFCC00;
    align-items: center;
    margin-bottom: 1rem;
    width: 100%;

}

.logo {
    display: flex;
    align-items: center;
    margin-left: 15vh;
}

.position 

.logo img {
    width: 50px;
    height: 50px;
    margin: 10px;
    border: solid #D9B382 1px;
}

.right {
    margin-right: 15vh;
    justify-content: end;
    align-items: center;
}

nav a {
    flex-direction: row;
    font-weight: 600;
    padding: 14px 13px;
}

nav a:hover {
    color: #ff0000b1;
    transition: ease 0.3s;
}



/* section section {
    flex-grow: 1;
}

.container {
    font-size: 0.8rem;
    display: flex;
}

.container h1 {
    font-size: 3rem;
}

section h1 {
    padding-top: 100px;
    margin-left: 15vh;
}

.container p {
    text-align: auto;
    padding: 2px;
    margin-left: 15vh;
    display: inline;
}

.img-art img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    display: flex;
}

.descripcion {

    text-align: left;
    font-size: 16px;
    color: rgb(168, 160, 160);
}

 */




.hero-wrap {
    min-height: 100vh;
    padding-top: 15vh;
}

#titulo {
    color: rgba(255, 255, 255,0.8);
    text-shadow:4px 4px 6px rgba(0, 0, 0, 0.7);

}

.descripcion {
    color: #ffffffd7;
}
article h1 span {
    color:  rgba(255,0,10,0.76);
}
.hero h1 {
    font-size: 3rem;
}

.hero {
    width: 100%;
    padding: 80px 0 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-info {
    padding-left: 15vh;
    width: 45%;
}

a img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid #D9B382 0.1vh;
    margin-top: 1.444vh;
}

.hero-img img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    box-shadow: 0 0 100px rgb(199, 148, 148);
    animation: glowing 2s alternate-reverse infinite;
    margin-right: 15vh;
}

.boton-cv {
    border: solid #0a4e93d4;
    color: rgb(255, 255, 255);
    font-size: 2vh;
    font-family: 'Raleway';
    background-color: #efefef2c; 
    padding: 5px;
    border-radius: 10px;
}


#tech-title {
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 35vh;
}

.container-tech {
    background-color: #ffcc00f0;
    height: 150px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#tech{
    text-align: center;
    min-height: 90vh;
    margin-left: 15vh;
    margin-right: 15vh;
    align-items: center;
    justify-content: center;
}



.img-tech img {
    margin-left: 15px;
    display: inline-block;
    height: 92px;
}

.center {
    text-align: center;
}

.height-pro {
    top:100vh;
    bottom: 60vh;
}

.title-pro {
    font-size: 50px;
    padding-bottom: 20px;
    text-align: center;
}

.container-pro {
    background-color: #0000005b;
    display: inline-flex;
    flex-direction: column;
}



.container-pro2 {
    background-color: #0000005b;
    display: inline-flex;
    flex-direction: column;
}

.pro1 {
    box-sizing: content-box;
    padding: 65px;
    background-color: #00336681;
    width: 45vh;
    margin: 2vh;
}

 .pro2 {
    box-sizing: content-box;
    padding: 65px;
    background-color: #00336681;
    width: 45vh;
    margin: 2vh;
 }

 .desc-pro {
    padding-bottom: 3vh;
 }

.boton-pro {
    border: solid;
    color: white;
    font-size: 2vh;
    font-family: 'Raleway';
    background-color: #efefef2c; 
    padding: 5px;
    border-radius: 10px;
}






.datos {
    text-align: center;

}

.form {
    min-height: 90vh;
    margin-top: 45vh;
    margin-bottom: 5vh;
    width: 100%;

}



#usuario-datos {
    text-align: center;
    margin: 1rem ;
}

.container-data {
    border: solid 5px rgba(0, 0, 0, 0.17);
    font-size: 3vh;
    text-align: center;
    height: 40vh;
    width: 85%;
    border-radius: 20px;
}

.boton-info {
    border: solid 1px black;
    width: 20%;
    padding: 6px;
    background: none;
    margin-top: 12px;

}

.contact-info {
    font-size: 2.4vh;
    align-items: center;
    width: 100%;
    height: 50%;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;   
}


.container-info {
    background: #003366ff;
    border: 2px solid #081f37bb;
    margin: 10px;
    padding: 12px;
    border-radius: 5px;
    width: 50%;
}

.form-data {
    justify-content: center;
    display: flex;
    
}


footer {
    background-color: rgba(0, 0, 0, 0.439);
    height: 18vh;
}


@media screen and (max-width: 850px) {
    header, .hero-wrap {
        flex-direction: column;
    }
}

@media screen and (max-width: 850px) {
    .proyects, div {
        flex-direction: column;
    }
}